@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --orange-color: #E7700D;
  --grey-2-color: #a6a6a6;
  
}


body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

*{
  box-sizing: border-box;
}

h2{
  @apply text-[#bfbfbf] text-[0.875rem] leading-[150%] uppercase;
}

h3{
  @apply text-[#a6a6a6] leading-[150%] text-[0.875rem] font-sans;
}


li{
  @apply list-none p-2 ;
}

p{
  @apply text-[#a6a6a6] text-[0.875rem] leading-[135%]  font-sans; 
}

button{
  min-width: 100px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
}

.layout-bg-container{
  max-width: 1080px !important;
  margin: auto;
}

.side-nav-bg-container{
  max-width: 240px !important;
  min-height: 100vh;
  height: 100%;
  border: none;
  border-right: 1px solid #bfbfbf;
}

.main-container{
  min-width: 840px !important;
}

.active-tab{
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function:cubic-bezier(1, 0, 0, 1);
  transition-property: color,border;
  border-left: 2px solid var(--orange-color);
}

.active-button{
  background-color:  var(--orange-color);
  border-radius: 18px;
  color: white !important;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function:cubic-bezier(1, 0, 0, 1);
}

.question-top-section{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #a6a6a6;
}